.pizza {
  width: 280px;
  height: 280px;
  border-radius: 28px;
  border: 3px white solid;
}

@media screen and (min-width: 1501px) {
  .pizza {
    width: 20vw;
    height: 20vw;
  }
}

@media screen and (min-width: 1501px) {
  .pizza {
    border-radius: 2vw;
    border: 0.2vw white solid;
  }
}

.topping {
  width: 280px;
  height: 180px;
  border-radius: 28px;
  border: 3px white solid;
}

.pizza,
.topping {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  background-color: grey;
  position: relative;
  overflow: hidden;
}

.pizza:hover .dashboard,
.topping:hover .dashboard {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.pizza:hover .pizza_info,
.pizza:hover .topping_info,
.topping:hover .pizza_info,
.topping:hover .topping_info {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.pizza img,
.topping img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pizza .pizza_info,
.pizza .topping_info,
.topping .pizza_info,
.topping .topping_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -67%;
  left: 0;
  width: 100%;
  height: 67%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 35px;
  padding: 0;
  margin: 0;
}

.pizza .pizza_info p,
.pizza .topping_info p,
.topping .pizza_info p,
.topping .topping_info p {
  text-align: center;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1500px) {
  .pizza .pizza_info,
  .topping .pizza_info {
    font-size: 3vw;
  }
}

.pizza .dashboard,
.topping .dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 33%;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.pizza .dashboard div,
.topping .dashboard div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 3px solid white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
}

.pizza .dashboard div svg,
.topping .dashboard div svg {
  height: 100%;
}

.pizza .dashboard div svg:hover,
.topping .dashboard div svg:hover {
  cursor: pointer;
  color: green;
}

.pizza .dashboard div:first-child,
.topping .dashboard div:first-child {
  border-right: 3px solid white;
}
