.ToppingDetails {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: red;
  z-index: 2;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.ToppingDetails img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ToppingDetails .close {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 1em;
  margin-top: 0.5em;
  cursor: pointer;
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  background-color: red;
  padding: 5px 13px;
  border-radius: 50%;
}

@media screen and (min-width: 1501px) {
  .ToppingDetails .close {
    font-size: 2.25vw;
    padding: 0.38vw 0.95vw;
  }
}

.ToppingDetails .content {
  z-index: 3;
  position: absolute;
  width: 80vw;
  height: 80vh;
  overflow-y: auto;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  margin: 0;
  padding: 0;
}

.ToppingDetails .content.hide {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

@media screen and (min-width: 751px) {
  .ToppingDetails .content {
    width: 50vw;
  }
}

.ToppingDetails .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.8);
  color: wheat;
}

.ToppingDetails .info .closeInfo {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 30px;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  background-color: red;
  padding: 5px 13px;
  border-radius: 50%;
}

@media screen and (min-width: 1501px) {
  .ToppingDetails .info .closeInfo {
    font-size: 2.25vw;
    padding: 0.38vw 0.95vw;
    margin: 0.75vw;
  }
}

.ToppingDetails .info .toppingInfo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

@media screen and (min-width: 501px) {
  .ToppingDetails .info .toppingInfo {
    -ms-grid-columns: auto 1fr;
        grid-template-columns: auto 1fr;
  }
}

@media screen and (min-width: 1401px) {
  .ToppingDetails .info .toppingInfo {
    padding: 2vw;
  }
}

.ToppingDetails .info .toppingInfo div {
  font-size: 20px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1401px) {
  .ToppingDetails .info .toppingInfo div {
    font-size: 2vw;
  }
}

.ToppingDetails .info .toppingInfo .firstColumn {
  display: none;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

@media screen and (min-width: 1401px) {
  .ToppingDetails .info .toppingInfo .firstColumn {
    font-size: 3vw;
  }
}

@media screen and (min-width: 501px) {
  .ToppingDetails .info .toppingInfo .firstColumn {
    display: block;
  }
}

.ToppingDetails .info .toppingInfo .firstColumn:nth-child(5) {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.ToppingDetails .info .cartInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 20px;
  font-size: 20px;
}

@media screen and (min-width: 1401px) {
  .ToppingDetails .info .cartInfo {
    font-size: 2vw;
    padding: 2vw;
  }
}

.ToppingDetails .info .cartInfo p {
  line-height: 2;
  margin: 0;
}

.ToppingDetails .info .cartInfo p span.db {
  margin-right: 20px;
}

.ToppingDetails .info .cartInfo svg {
  height: 100px;
}

@media screen and (min-width: 501px) {
  .ToppingDetails .info .cartInfo svg {
    height: 8vw;
  }
}

.ToppingDetails .info .cartInfo div:first-child {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: none;
}

@media screen and (min-width: 501px) {
  .ToppingDetails .info .cartInfo div:first-child {
    display: block;
  }
}

.ToppingDetails .info .cartInfo div:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.ToppingDetails .info .cartInfo input {
  width: 3ch;
  font-size: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid white inset;
  outline: none;
  color: white;
}

@media screen and (min-width: 1401px) {
  .ToppingDetails .info .cartInfo input {
    font-size: 2vw;
  }
}

.ToppingDetails .info .cartInfo button {
  font-size: 20px;
}

@media screen and (min-width: 1401px) {
  .ToppingDetails .info .cartInfo button {
    font-size: 2vw;
  }
}
