.Confirm,
.Callback,
.Login,
.Register,
.Order,
.ForgotPassword,
.PasswordReset {
  padding-top: calc(80px + 3.5vw);
  padding-bottom: 80px;

  @media screen and (min-width: 751px) {
    padding-top: calc(50px + 3.5vw);
  }

  .content {
    background-color: rgba($color: #fff, $alpha: 0.5);

    width: fit-content;
    padding: 3vw;
    max-width: 80%;
    @media screen and (min-width: 751px) {
      padding: 1.5vw;
      max-width: 50%;
    }

    text-align: center;

    margin: 0 auto;

    .alerts {
      p {
        color: red;
        // font-family: Arial, Helvetica, sans-serif;
        font-family: "Teko", sans-serif;
        font-size: 4vw;
        @media screen and (min-width: 751px) {
          font-size: 2vw;
        }

        span.email {
          color: black;
        }
      }
    }

    h1 {
      font-family: "Otomanopee One", sans-serif;

      font-size: 6vw;
      @media screen and (min-width: 751px) {
        font-size: 3vw;
      }
    }

    label {
      font-family: "Teko", sans-serif;
    }

    a {
      text-decoration: none;
      color: black;
      font-family: "Teko", sans-serif;

      &:hover {
        color: red;
      }
    }

    a,
    label,
    input,
    button {
      font-size: 4vw;
      @media screen and (min-width: 751px) {
        font-size: 2vw;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.75vw;

      button {
        width: 50%;

        margin-top: 4.5vw;
        margin-bottom: 4.5vw;
        @media screen and (min-width: 751px) {
          margin-top: 2.25vw;
          margin-bottom: 2.25vw;
        }
      }

      div {
        width: 100%;
        display: flex;

        input {
          flex: 1;
          margin-left: 0.25em;
        }
      }
    }
  }
}
