.Confirm,
.Callback,
.Login,
.Register,
.Order,
.ForgotPassword,
.PasswordReset {
  padding-top: calc(80px + 3.5vw);
  padding-bottom: 80px;
}

@media screen and (min-width: 751px) {
  .Confirm,
  .Callback,
  .Login,
  .Register,
  .Order,
  .ForgotPassword,
  .PasswordReset {
    padding-top: calc(50px + 3.5vw);
  }
}

.Confirm .content,
.Callback .content,
.Login .content,
.Register .content,
.Order .content,
.ForgotPassword .content,
.PasswordReset .content {
  background-color: rgba(255, 255, 255, 0.5);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3vw;
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 751px) {
  .Confirm .content,
  .Callback .content,
  .Login .content,
  .Register .content,
  .Order .content,
  .ForgotPassword .content,
  .PasswordReset .content {
    padding: 1.5vw;
    max-width: 50%;
  }
}

.Confirm .content .alerts p,
.Callback .content .alerts p,
.Login .content .alerts p,
.Register .content .alerts p,
.Order .content .alerts p,
.ForgotPassword .content .alerts p,
.PasswordReset .content .alerts p {
  color: red;
  font-family: "Teko", sans-serif;
  font-size: 4vw;
}

@media screen and (min-width: 751px) {
  .Confirm .content .alerts p,
  .Callback .content .alerts p,
  .Login .content .alerts p,
  .Register .content .alerts p,
  .Order .content .alerts p,
  .ForgotPassword .content .alerts p,
  .PasswordReset .content .alerts p {
    font-size: 2vw;
  }
}

.Confirm .content .alerts p span.email,
.Callback .content .alerts p span.email,
.Login .content .alerts p span.email,
.Register .content .alerts p span.email,
.Order .content .alerts p span.email,
.ForgotPassword .content .alerts p span.email,
.PasswordReset .content .alerts p span.email {
  color: black;
}

.Confirm .content h1,
.Callback .content h1,
.Login .content h1,
.Register .content h1,
.Order .content h1,
.ForgotPassword .content h1,
.PasswordReset .content h1 {
  font-family: "Otomanopee One", sans-serif;
  font-size: 6vw;
}

@media screen and (min-width: 751px) {
  .Confirm .content h1,
  .Callback .content h1,
  .Login .content h1,
  .Register .content h1,
  .Order .content h1,
  .ForgotPassword .content h1,
  .PasswordReset .content h1 {
    font-size: 3vw;
  }
}

.Confirm .content label,
.Confirm .content a,
.Confirm .content input,
.Callback .content label,
.Callback .content a,
.Callback .content input,
.Login .content label,
.Login .content a,
.Login .content input,
.Register .content label,
.Register .content a,
.Register .content input,
.Order .content label,
.Order .content a,
.Order .content input,
.ForgotPassword .content label,
.ForgotPassword .content a,
.ForgotPassword .content input,
.PasswordReset .content label,
.PasswordReset .content a,
.PasswordReset .content input {
  font-family: "Teko", sans-serif;
}

.Confirm .content input,
.Callback .content input,
.Login .content input,
.Register .content input,
.Order .content input,
.ForgotPassword .content input,
.PasswordReset .content input {
  padding: 0 0.25em;
}

.Confirm .content a,
.Callback .content a,
.Login .content a,
.Register .content a,
.Order .content a,
.ForgotPassword .content a,
.PasswordReset .content a {
  text-decoration: none;
  color: black;
}

.Confirm .content a:hover,
.Callback .content a:hover,
.Login .content a:hover,
.Register .content a:hover,
.Order .content a:hover,
.ForgotPassword .content a:hover,
.PasswordReset .content a:hover {
  color: red;
}

.Confirm .content a,
.Confirm .content label,
.Confirm .content input,
.Confirm .content button,
.Callback .content a,
.Callback .content label,
.Callback .content input,
.Callback .content button,
.Login .content a,
.Login .content label,
.Login .content input,
.Login .content button,
.Register .content a,
.Register .content label,
.Register .content input,
.Register .content button,
.Order .content a,
.Order .content label,
.Order .content input,
.Order .content button,
.ForgotPassword .content a,
.ForgotPassword .content label,
.ForgotPassword .content input,
.ForgotPassword .content button,
.PasswordReset .content a,
.PasswordReset .content label,
.PasswordReset .content input,
.PasswordReset .content button {
  font-size: 4vw;
}

@media screen and (min-width: 751px) {
  .Confirm .content a,
  .Confirm .content label,
  .Confirm .content input,
  .Confirm .content button,
  .Callback .content a,
  .Callback .content label,
  .Callback .content input,
  .Callback .content button,
  .Login .content a,
  .Login .content label,
  .Login .content input,
  .Login .content button,
  .Register .content a,
  .Register .content label,
  .Register .content input,
  .Register .content button,
  .Order .content a,
  .Order .content label,
  .Order .content input,
  .Order .content button,
  .ForgotPassword .content a,
  .ForgotPassword .content label,
  .ForgotPassword .content input,
  .ForgotPassword .content button,
  .PasswordReset .content a,
  .PasswordReset .content label,
  .PasswordReset .content input,
  .PasswordReset .content button {
    font-size: 2vw;
  }
}

.Confirm .content form,
.Callback .content form,
.Login .content form,
.Register .content form,
.Order .content form,
.ForgotPassword .content form,
.PasswordReset .content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75vw;
}

.Confirm .content form .cart a,
.Callback .content form .cart a,
.Login .content form .cart a,
.Register .content form .cart a,
.Order .content form .cart a,
.ForgotPassword .content form .cart a,
.PasswordReset .content form .cart a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Confirm .content form .cart a svg,
.Callback .content form .cart a svg,
.Login .content form .cart a svg,
.Register .content form .cart a svg,
.Order .content form .cart a svg,
.ForgotPassword .content form .cart a svg,
.PasswordReset .content form .cart a svg {
  height: 1em;
  margin-right: 1em;
}

.Confirm .content form button,
.Callback .content form button,
.Login .content form button,
.Register .content form button,
.Order .content form button,
.ForgotPassword .content form button,
.PasswordReset .content form button {
  width: 50%;
  margin-top: 4.5vw;
  margin-bottom: 4.5vw;
}

@media screen and (min-width: 751px) {
  .Confirm .content form button,
  .Callback .content form button,
  .Login .content form button,
  .Register .content form button,
  .Order .content form button,
  .ForgotPassword .content form button,
  .PasswordReset .content form button {
    margin-top: 2.25vw;
    margin-bottom: 2.25vw;
  }
}

.Confirm .content form div,
.Callback .content form div,
.Login .content form div,
.Register .content form div,
.Order .content form div,
.ForgotPassword .content form div,
.PasswordReset .content form div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Confirm .content form div input,
.Callback .content form div input,
.Login .content form div input,
.Register .content form div input,
.Order .content form div input,
.ForgotPassword .content form div input,
.PasswordReset .content form div input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 0.25em;
}
