.cartRoute {
  padding-top: 90px;
  font-family: "Teko", sans-serif;
  padding-bottom: 3.7vw;
}

@media screen and (min-width: 751px) {
  .cartRoute {
    padding-top: calc(3 * (15px + 2vw));
  }
}

.cartRoute .title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 0;
  overflow: visible;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 15.2vw 8.6vw white;
  box-shadow: 0 0 15.2vw 8.6vw white;
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .cartRoute .title {
    -webkit-box-shadow: 0 0 15.2vw 8.6vw white;
    box-shadow: 0 0 15.2vw 8.6vw white;
  }
}

@media screen and (min-width: 751px) {
  .cartRoute .title {
    -webkit-box-shadow: 0 0 7.6vw 4.3vw white;
    box-shadow: 0 0 7.6vw 4.3vw white;
  }
}

.cartRoute .title h1 {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Otomanopee One", sans-serif;
  color: #292626;
  font-size: 10vw;
  text-shadow: 0.6vw 0.45vw 0 #fff, 1.35vw 1.2vw 0 rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .cartRoute .title h1 {
    font-size: 10vw;
    text-shadow: 0.6vw 0.45vw 0 #fff, 1.35vw 1.2vw 0 rgba(0, 0, 0, 0.15);
  }
}

@media screen and (min-width: 751px) {
  .cartRoute .title h1 {
    font-size: 5vw;
    text-shadow: 0.3vw 0.225vw 0 #fff, 0.675vw 0.6vw 0 rgba(0, 0, 0, 0.15);
  }
}

.cartRoute .content {
  padding-top: calc(40px + 7.5vw);
}

@media screen and (min-width: 751px) {
  .cartRoute .content {
    padding-top: 7.5vw;
  }
}

.cartRoute div.backdrop {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 auto 7.6vw auto;
  padding: 0;
  border-top-right-radius: 3vw;
  border-top-left-radius: 3vw;
}

@media screen and (max-width: 750px) {
  .cartRoute div.backdrop:last-child {
    border-radius: 0;
  }
}

@media screen and (min-width: 751px) {
  .cartRoute div.backdrop {
    margin: 0 auto 3.8vw auto;
    padding: 1.5vw;
    border-radius: 1.5vw;
  }
}

.cartRoute div.backdrop:not(:last-child) {
  padding-top: 0;
}

.cartRoute div.backdrop:last-child {
  margin-bottom: 0;
}

.cartRoute div.backdrop h2 {
  font-size: 6.6vw;
  font-weight: 900;
  padding: 0;
  margin: 0 0 0 1em;
  font-family: "Otomanopee One", sans-serif;
}

@media screen and (min-width: 751px) {
  .cartRoute div.backdrop h2 {
    font-size: 3.3vw;
  }
}

.cartRoute table {
  border: 0.6vw solid green;
  border-collapse: collapse;
  font-size: 4.5vw;
}

@media screen and (min-width: 751px) {
  .cartRoute table {
    font-size: 2.25vw;
    border: 0.3vw solid green;
  }
}

.cartRoute table th {
  font-weight: 900;
}

.cartRoute table td,
.cartRoute table th {
  padding: 1.5vw;
  border: 0.3vw solid green;
  text-align: center;
}

@media screen and (min-width: 751px) {
  .cartRoute table td,
  .cartRoute table th {
    padding: 0.75vw;
    border: 0.15vw solid green;
  }
}

.cartRoute table td input,
.cartRoute table th input {
  font-family: "Teko", sans-serif;
  font-size: 4.5vw;
  width: 5ch;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 751px) {
  .cartRoute table td input,
  .cartRoute table th input {
    font-size: 2.25vw;
  }
}

.cartRoute table td svg,
.cartRoute table th svg {
  height: 4.5vw;
  color: red;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

@media screen and (min-width: 751px) {
  .cartRoute table td svg,
  .cartRoute table th svg {
    height: 2.25vw;
  }
}

.cartRoute table tbody tr:last-child td {
  border: none;
}

.cartRoute p {
  margin: 0;
  padding: 3vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 4.5vw;
  border: 0.6vw solid green;
}

@media screen and (min-width: 751px) {
  .cartRoute p {
    padding: 1.5vw;
    font-size: 2.25vw;
    border: 0.3vw solid green;
  }
}

.cartRoute p span.sum {
  font-weight: 900;
}
