.Home {
  min-height: 100vh;
}

.Home .head {
  height: calc(12vw + 50px);
  padding: calc(calc(15px + 2vw) + 5px) 0 5px 0;
  margin-bottom: 20vw;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-shadow: 0vw 1.5vw 2.25vw -0.75vw black;
          box-shadow: 0vw 1.5vw 2.25vw -0.75vw black;
}

@media screen and (min-width: 751px) {
  .Home .head {
    padding: calc(calc(15px + 2vw) + 5px) 0 5px 5px;
    margin-bottom: 10vw;
  }
}

.Home .head img.logo {
  display: none;
  height: 100%;
  width: auto;
  border-radius: 10px;
  background-color: white;
}

@media screen and (min-width: 751px) {
  .Home .head img.logo {
    display: inline-block;
  }
}

.Home .head h1 {
  font-size: 8vw;
  font-family: "Otomanopee One", sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

@media screen and (min-width: 751px) {
  .Home .head h1 {
    font-size: 6vw;
  }
}

.Home .firstPart,
.Home .secondPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Home .firstPart {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 62, 73, 0)), color-stop(35%, rgba(47, 62, 73, 0)), color-stop(90%, #2f3e49));
  background: linear-gradient(to bottom, rgba(47, 62, 73, 0), rgba(47, 62, 73, 0) 35%, #2f3e49 90%);
}

.Home .secondPart {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 62, 73, 0)), color-stop(35%, rgba(47, 62, 73, 0)), color-stop(70%, #2f3e49));
  background: linear-gradient(to top, rgba(47, 62, 73, 0), rgba(47, 62, 73, 0) 35%, #2f3e49 70%);
}

.Home p.introduction {
  width: 90%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  padding: 2vw;
  font-size: 5vw;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 100px;
  text-align: justify;
  color: black;
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0vw 1.5vw 2.25vw -0.75vw black;
          box-shadow: 0vw 1.5vw 2.25vw -0.75vw black;
}

@media screen and (min-width: 751px) and (max-width: 1000px) {
  .Home p.introduction {
    font-size: 3vw;
    margin-bottom: 10vw;
    width: 70%;
  }
}

@media screen and (min-width: 1001px) {
  .Home p.introduction {
    font-size: 2vw;
    margin-bottom: 10vw;
    width: 70%;
  }
}

.Home div.mainImage {
  width: 95%;
}

@media screen and (min-width: 751px) {
  .Home div.mainImage {
    width: 80%;
  }
}

.Home div.mainImage img {
  width: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  border-radius: 5vw;
  -webkit-box-shadow: 0vw 1.5vw 2.25vw -0.75vw black;
          box-shadow: 0vw 1.5vw 2.25vw -0.75vw black;
}

.Home img.menuImage {
  width: 80%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  margin-bottom: 33px;
  border-radius: 15vw;
  -webkit-box-shadow: 0vw 1.5vw 2.25vw -0.75vw black;
          box-shadow: 0vw 1.5vw 2.25vw -0.75vw black;
}

@media screen and (min-width: 751px) and (max-width: 1500px) {
  .Home img.menuImage {
    width: 50%;
    margin-bottom: 5vw;
  }
}

@media screen and (min-width: 1501px) {
  .Home img.menuImage {
    width: 33%;
    margin-bottom: 5vw;
  }
}

.Home .pizzasAndToppings {
  width: calc(100% - 40px);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 751px) {
  .Home .pizzasAndToppings {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.Home .pizzasAndToppings .toppingsContainer {
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(47, 62, 73, 0)), color-stop(50%, rgba(47, 62, 73, 0)), to(#2f3e49));
  background: linear-gradient(to top, rgba(47, 62, 73, 0), rgba(47, 62, 73, 0) 50%, #2f3e49 100%);
}

@media screen and (min-width: 751px) {
  .Home .pizzasAndToppings .toppingsContainer {
    width: 25%;
    min-width: 280px;
    background: none;
  }
}

.Home .pizzasAndToppings .pizzasContainer {
  width: 100%;
}

@media screen and (min-width: 751px) {
  .Home .pizzasAndToppings .pizzasContainer {
    width: 75%;
  }
}

.Home .pizzasAndToppings h2 {
  -webkit-box-shadow: 0vw 1.5vw 2.25vw -0.75vw black;
          box-shadow: 0vw 1.5vw 2.25vw -0.75vw black;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 50px;
  font-family: "Otomanopee One", sans-serif;
  padding: 0.2em;
  margin: 0;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

@media screen and (min-width: 1501px) {
  .Home .pizzasAndToppings h2 {
    font-size: 3.5vw;
  }
}

.Home p.warning {
  color: red;
  font-size: 30px;
}
