.pizza {
  width: 280px;
  height: 280px;

  @media screen and (min-width: 1501px) {
    width: 20vw;
    height: 20vw;
  }

  border-radius: 28px;
  border: 3px white solid;

  @media screen and (min-width: 1501px) {
    border-radius: 2vw;
    border: 0.2vw white solid;
  }
}

.topping {
  width: 280px;
  height: 180px;

  border-radius: 28px;
  border: 3px white solid;
}

.pizza,
.topping {
  transform: scale(0);
  transition: transform 2s;

  background-color: grey;

  position: relative;
  overflow: hidden;

  &:hover .dashboard {
    transform: translateY(-100%);

    transition: transform 1s;
  }

  &:hover .pizza_info,
  &:hover .topping_info {
    transform: translateY(100%);

    transition: transform 1s;
  }

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  .pizza_info,
  .topping_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    top: -67%;
    left: 0;

    width: 100%;
    height: 67%;

    transition: transform 1s;

    background-color: rgba($color: #000000, $alpha: 0.75);
    color: white;

    font-size: 35px;

    padding: 0;
    margin: 0;

    p {
      text-align: center;
      padding: 0;
      margin: 0;
    }
  }

  .pizza_info {
    @media screen and (min-width: 1500px) {
      font-size: 3vw;
    }
  }

  .dashboard {
    display: flex;

    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    height: 33%;

    background-color: rgba($color: #000000, $alpha: 0.75);

    transition: transform 1s;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 3px solid white;
      flex: 1;
      color: white;

      svg {
        height: 100%;
      }

      svg:hover {
        cursor: pointer;
        color: green;
      }
    }

    div:first-child {
      border-right: 3px solid white;
    }
  }
}
