.BookingContainer {
  padding-top: 45px;
  min-height: calc(100vh - 45px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 751px) {
  .BookingContainer {
    padding-top: calc(15px + 2vw);
  }
}

@media screen and (min-width: 751px) {
  .BookingContainer {
    min-height: calc(100vh - calc(15px + 2vw));
  }
}

.BookingContainer .Error {
  z-index: 2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1em;
  background-color: black;
  color: red;
  font-size: 1.8vw;
  cursor: pointer;
}

.Booking {
  font-size: 1.8vw;
}

.Booking select,
.Booking button {
  font-size: 1.8vw;
}

.Booking div.Td {
  position: relative;
}

.Booking div.Td div.cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.Booking div.Td div.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Booking div.Td div.overlay table.ContentTable {
  height: 80vh;
  width: 80%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.Booking div.Td div.overlay table.ContentTable tr {
  position: relative;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.Booking div.Td div.overlay table.ContentTable tr span {
  cursor: pointer;
  display: inline;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translate(-120%, -50%);
          transform: translate(-120%, -50%);
  font-size: 1.5em;
}

.Booking div.Td div.overlay h1 {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  margin: 0.5em 0 0 0;
  padding: 0;
}

.Booking div.Td div.overlay span.close {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 1em;
  margin-top: 0.5em;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  background-color: red;
  padding: 5px 11px;
  border-radius: 50%;
}

@media screen and (min-width: 1501px) {
  .Booking div.Td div.overlay span.close {
    font-size: 2.25vw;
    padding: 0.38vw 0.95vw;
  }
}

.Booking table {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  border-collapse: collapse;
}

.Booking table tr,
.Booking table td {
  padding: 0;
}

.Booking table th {
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.5);
}

.Booking table.BookingTable {
  border: 2px solid red;
}

.Booking table.BookingTable tr td:not(:first-child.hours) {
  background-color: red;
  cursor: pointer;
}

.Booking table.BookingTable tr td:first-child.hours {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 1em;
}

.Booking table.BookingTable tr td:first-child.hours span {
  position: relative;
  left: 0;
  top: -1.2vw;
}

.Booking table.ContentTable {
  width: 100%;
  height: 2.4vw;
  border: 1px solid rgba(255, 255, 255, 0);
}

.Booking table.ContentTable span.hoursInContent {
  display: none;
}

.Booking table.ContentTable tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
