.pizzas,
.toppings {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 28px;
}

@media screen and (min-width: 1501px) {
  .pizzas,
  .toppings {
    border-radius: 2vw;
  }
}

.pizzas .content,
.toppings .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  row-gap: 100px;
  -webkit-column-gap: 2vw;
          column-gap: 2vw;
  padding: 2vw;
}

@media screen and (min-width: 751px) {
  .pizzas .content,
  .toppings .content {
    gap: 2vw;
  }
}

.pizzas .search,
.toppings .search {
  padding-top: 20px;
  text-align: center;
}

.pizzas .search input,
.toppings .search input {
  font-family: "Teko", sans-serif;
  height: 1em;
  padding: 0;
  min-width: 200px;
  width: 50%;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 2px solid inset;
  outline: none;
  font-size: 40px;
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .pizzas .search input,
  .toppings .search input {
    font-size: 8vw;
  }
}

@media screen and (min-width: 751px) {
  .pizzas .search input,
  .toppings .search input {
    font-size: 3vw;
  }
}
