.topping {
  width: 280px;
  height: 180px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  background-color: green;
  border-radius: 20px;
  border: 3px white solid;
  position: relative;
  overflow: hidden;
}

.topping:hover .dashboard {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.topping:hover .topping_info {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.topping img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.topping .topping_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -67%;
  left: 0;
  width: 100%;
  height: 67%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  font-size: 35px;
  padding: 0;
  margin: 0;
}

.topping .topping_info p {
  text-align: center;
  padding: 0;
  margin: 0;
}

.topping .dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 33%;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.topping .dashboard div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 3px solid white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
}

.topping .dashboard div svg {
  height: 100%;
}

.topping .dashboard div svg:hover {
  cursor: pointer;
  color: green;
}

.topping .dashboard div:first-child {
  border-right: 3px solid white;
}
