.UserBookings {
  font-size: 6vw;
  padding: 30vw 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 90px 0;
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .UserBookings {
    font-size: 3vw;
  }
}

@media screen and (min-width: 751px) {
  .UserBookings {
    padding: calc(3 * (15px + 2vw)) 0;
    font-size: 1.5vw;
  }
}

.UserBookings .title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 0;
  overflow: visible;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 7.6vw 4.3vw white;
          box-shadow: 0 0 7.6vw 4.3vw white;
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .UserBookings .title {
    -webkit-box-shadow: 0 0 7.6vw 4.3vw white;
            box-shadow: 0 0 7.6vw 4.3vw white;
  }
}

@media screen and (min-width: 751px) {
  .UserBookings .title {
    -webkit-box-shadow: 0 0 7.6vw 4.3vw white;
            box-shadow: 0 0 7.6vw 4.3vw white;
  }
}

.UserBookings .title h1 {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Otomanopee One", sans-serif;
  color: #292626;
  font-size: 7.5vw;
  text-shadow: 0.4vw 0.3vw 0 #fff, 0.9vw 0.8vw 0 rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .UserBookings .title h1 {
    font-size: 5vw;
    text-shadow: 0.3vw 0.225vw 0 #fff, 0.675vw 0.6vw 0 rgba(0, 0, 0, 0.15);
  }
}

@media screen and (min-width: 751px) {
  .UserBookings .title h1 {
    font-size: 5vw;
    text-shadow: 0.3vw 0.225vw 0 #fff, 0.675vw 0.6vw 0 rgba(0, 0, 0, 0.15);
  }
}

.UserBookings .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 0;
          column-gap: 0;
  row-gap: 12vw;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-top: 50px;
  min-height: calc(100vh - 7.5vw);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .UserBookings .content {
    -webkit-column-gap: 0;
            column-gap: 0;
    row-gap: 6vw;
  }
}

@media screen and (min-width: 751px) {
  .UserBookings .content {
    margin-top: calc(3 * (15px + 2vw));
    -webkit-column-gap: 0;
            column-gap: 0;
    row-gap: 3vw;
  }
}
