.UserBookings {
  font-size: 6vw;
  padding: 30vw 0;
  box-sizing: border-box;

  padding: 90px 0;
  @media screen and (min-width: 501px) and (max-width: 750px) {
    font-size: 3vw;
  }
  @media screen and (min-width: 751px) {
    padding: calc(3 * (15px + 2vw)) 0;
    font-size: 1.5vw;
  }

  .title {
    // border: 2px solid red;

    width: fit-content;
    height: 0;

    overflow: visible;
    margin: 0 auto;
    box-shadow: 0 0 7.6vw 4.3vw white;
    @media screen and (min-width: 501px) and (max-width: 750px) {
      box-shadow: 0 0 7.6vw 4.3vw white;
    }
    @media screen and (min-width: 751px) {
      box-shadow: 0 0 7.6vw 4.3vw white;
    }

    h1 {
      transform: translate(0, -50%);

      margin: 0;
      padding: 0;
      text-align: center;
      font-family: "Otomanopee One", sans-serif;
      color: rgb(41, 38, 38);

      font-size: 7.5vw;
      text-shadow: 0.4vw 0.3vw 0 #fff, 0.9vw 0.8vw 0 rgba(0, 0, 0, 0.15);
      @media screen and (min-width: 501px) and (max-width: 750px) {
        font-size: 5vw;
        text-shadow: 0.3vw 0.225vw 0 #fff, 0.675vw 0.6vw 0 rgba(0, 0, 0, 0.15);
      }
      @media screen and (min-width: 751px) {
        font-size: 5vw;
        text-shadow: 0.3vw 0.225vw 0 #fff, 0.675vw 0.6vw 0 rgba(0, 0, 0, 0.15);
      }
    }
  }

  .dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    // border: 2px solid red;

    padding-top: 7.5vw;
    @media screen and (min-width: 501px) and (max-width: 750px) {
      padding-top: 5vw;
    }
    @media screen and (min-width: 751px) {
      padding-top: 5vw;
    }

    select {
      font-family: "Teko", sans-serif;
      color: greenyellow;
      background: none;
      outline: none;
      border: none;

      font-size: 14vw;
      @media screen and (min-width: 501px) and (max-width: 750px) {
        font-size: 7vw;
      }
      @media screen and (min-width: 751px) {
        font-size: 3.5vw;
      }

      &:first-child {
        margin-right: 2ch;
      }
    }

    .checkboxContainer {
      position: relative;
      height: 1.5em;
      width: 1.5em;
      // border: 2px solid red;
      display: inline-block;

      [type="checkbox"] {
        visibility: hidden;

        &:checked + label {
          svg:nth-child(1) {
            display: block;
          }
          svg:nth-child(2) {
            display: none;
          }
        }
      }

      label {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        svg {
          height: 100%;
          width: auto;

          path {
            fill: greenyellow;
          }
        }

        svg:nth-child(1) {
          display: none;
        }
        svg:nth-child(2) {
          display: block;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0;
    row-gap: 12vw;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    margin-top: 50px;

    @media screen and (min-width: 501px) and (max-width: 750px) {
      column-gap: 0;
      row-gap: 6vw;
    }

    @media screen and (min-width: 751px) {
      margin-top: calc(3 * (15px + 2vw));
      column-gap: 0;
      row-gap: 3vw;
    }

    // border: 2px solid red;

    min-height: calc(100vh - 7.5vw);

    box-sizing: border-box;

    p.info {
      color: white;
      background-color: black;
      font-size: 30px;
      text-align: center;
      padding: 20px;
    }
  }
}
