.NavBar {
  // border: 1px solid red;

  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 45px;

  @media screen and (min-width: 751px) {
    height: calc(15px + 2vw);
  }

  background-color: rgba($color: #ffffff, $alpha: 0.85);
  border-bottom: 2px solid black;

  .dropDownMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    top: -90vw;
    left: 0;

    width: 100%;
    height: 90vw;
    max-height: calc(100vh - 45px);

    background-color: rgba($color: #000, $alpha: 0.95);

    transition: top 1s;

    @media screen and (min-width: 451px) and (max-width: 750px) {
      height: 45vw;
      top: -45vw;
    }
    @media screen and (min-width: 751px) {
      height: 22.5vw;
      top: -22.5vw;
    }

    &.show {
      top: 45px;

      @media screen and (min-width: 751px) {
        top: calc(15px + 2vw);
      }
    }

    a {
      text-decoration: none;
      color: white;
      font-size: 9vw;
      font-family: Arial, Helvetica, sans-serif;
      display: block;
      height: 0;
      overflow: visible;

      @media screen and (min-width: 451px) and (max-width: 750px) {
        font-size: 4.5vw;
      }
      @media screen and (min-width: 751px) {
        font-size: 2.25vw;
      }

      &:hover {
        box-shadow: 0 0 15.2vw 4.4vw white;
        @media screen and (min-width: 451px) and (max-width: 750px) {
          box-shadow: 0 0 7.6vw 2.2vw white;
        }
        @media screen and (min-width: 751px) {
          box-shadow: 0 0 3.8vw 1.1vw white;
        }
      }

      span {
        display: block;
        transform: translate(0, -50%);

        white-space: nowrap;
      }
    }
  }

  .icons {
    height: 100%;
    .cart {
      display: inline-block;
      height: 100%;
      width: fit-content;
      position: relative;
      // border: 1px solid red;
      svg {
        height: 100%;

        path {
          fill: black;
        }
      }

      span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        padding: 2px;

        color: white;
        background-color: red;

        font-weight: 900;
        font-size: 10px;
        @media screen and (min-width: 751px) and (max-width: 1000px) {
          font-size: 7px;
        }
        @media screen and (min-width: 1001px) and (max-width: 1500px) {
          font-size: 10px;
        }
        @media screen and (min-width: 1501px) {
          font-size: 0.75vw;
        }

        border-radius: 2px;
      }
    }

    .hamburger {
      display: inline-block;
      height: 100%;
      width: fit-content;
      position: relative;

      svg {
        height: 100%;

        background-color: black;
        border-radius: 50%;

        rect {
          fill: white;
          transform-box: fill-box;

          &.a {
            transition: transform 1s;
            transform: translate(10px, 12px);
          }

          &.b {
            transition: opacity 1s;
            transform: translate(10px, 19px);
          }

          &.c {
            transition: transform 1s;
            transform: translate(10px, 26px);
          }

          &.ax {
            transition: transform 1s;
            transform: translate(12px, 12px) rotate(45deg);
          }

          &.bx {
            transition: opacity 1s;
            transform: translate(10px, 19px);
            opacity: 0;
          }

          &.cx {
            transition: transform 1s;
            transform: translate(12px, 26px) rotate(-45deg);
          }
        }
      }
    }
  }

  .linksAndUser {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-left: calc(15px + 2vw);

    // border: 2px solid blue;

    @media screen and (max-width: 750px) {
      justify-content: flex-end;
    }

    .links {
      width: fit-content;
      display: none;
      gap: 1.1vw;

      // border: 1px solid red;

      @media screen and (min-width: 751px) and (max-width: 1500px) {
        font-size: calc(8px + 2vw);
      }
      @media screen and (min-width: 1501px) {
        font-size: calc(2vw);
      }

      @media screen and (min-width: 751px) {
        display: flex;
      }

      div.order,
      div.booking {
        display: none;
        width: fit-content;
        height: fit-content;
        // border: 2px solid white;
      }

      span.loggedIn {
        position: relative;
        white-space: nowrap;
        cursor: pointer;
      }

      span.loggedIn:hover {
        div.order,
        div.booking {
          display: flex;
          flex-direction: column;
          position: absolute;
          left: 0;
          top: 45px;

          @media screen and (min-width: 751px) {
            top: calc(15px + 2vw);
          }
        }
      }

      a,
      span.loggedIn {
        text-decoration: none;
        color: black;
        font-family: "Bebas Neue", cursive;
        line-height: 1;
        background-color: gray;
        padding: 0.1em 0.25em 0 0.25em;
        border-radius: 0.25em;

        &:hover,
        &.active {
          color: white;
          background-color: black;
        }
      }
    }

    .userInfo {
      height: 100%;
      width: fit-content;
      display: flex;
      align-items: center;
      gap: 0.75vw;

      width: fit-content;
      // border: 1px solid red;

      font-family: "Teko", sans-serif;

      img {
        height: 100%;
        width: auto;
      }

      span {
        &.userName {
          font-size: 45px;
          @media screen and (min-width: 751px) {
            font-size: calc(15px + 2vw);
          }

          cursor: pointer;
          white-space: nowrap;
          overflow: hidden;
          max-width: 50px;

          @media screen and (min-width: 321px) and (max-width: 350px) {
            max-width: 75px;
          }
          @media screen and (min-width: 351px) and (max-width: 370px) {
            max-width: 100px;
          }
          @media screen and (min-width: 371px) and (max-width: 400px) {
            max-width: 130px;
          }
          @media screen and (min-width: 401px) and (max-width: 450px) {
            max-width: 160px;
          }
          @media screen and (min-width: 451px) and (max-width: 500px) {
            max-width: 210px;
          }
          @media screen and (min-width: 501px) and (max-width: 750px) {
            max-width: 260px;
          }
          @media screen and (min-width: 751px) and (max-width: 1200px) {
            max-width: 200px;
          }
          @media screen and (min-width: 1201px) and (max-width: 1500px) {
            max-width: 400px;
          }
          @media screen and (min-width: 1501px) {
            max-width: 600px;
          }
        }

        &.notLoggedIn {
          color: red;
          font-weight: bold;

          display: inline;
          font-size: 6vw;
          @media screen and (min-width: 501px) and (max-width: 750px) {
            font-size: 4.5vw;
          }
          @media screen and (min-width: 751px) {
            font-size: 1.5vw;
          }
          cursor: pointer;

          img {
            height: 1.5em;
            width: auto;

            margin-bottom: -0.5em;
          }
        }
      }

      .logout {
        display: inline-block;
        height: 100%;
        width: fit-content;

        cursor: pointer;
        &:hover path {
          fill: red;
        }

        svg {
          height: 100%;

          path {
            fill: black;
          }
        }
      }
    }
  }
}
