.NavBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 2px solid black;
}

@media screen and (min-width: 751px) {
  .NavBar {
    height: calc(15px + 2vw);
  }
}

.NavBar .dropDownMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -90vw;
  left: 0;
  width: 100%;
  height: 90vw;
  max-height: calc(100vh - 45px);
  background-color: rgba(0, 0, 0, 0.95);
  -webkit-transition: top 1s;
  transition: top 1s;
}

@media screen and (min-width: 451px) and (max-width: 750px) {
  .NavBar .dropDownMenu {
    height: 45vw;
    top: -45vw;
  }
}

@media screen and (min-width: 751px) {
  .NavBar .dropDownMenu {
    height: 22.5vw;
    top: -22.5vw;
  }
}

.NavBar .dropDownMenu.show {
  top: 45px;
}

@media screen and (min-width: 751px) {
  .NavBar .dropDownMenu.show {
    top: calc(15px + 2vw);
  }
}

.NavBar .dropDownMenu a {
  text-decoration: none;
  color: white;
  font-size: 9vw;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  height: 0;
  overflow: visible;
}

@media screen and (min-width: 451px) and (max-width: 750px) {
  .NavBar .dropDownMenu a {
    font-size: 4.5vw;
  }
}

@media screen and (min-width: 751px) {
  .NavBar .dropDownMenu a {
    font-size: 2.25vw;
  }
}

.NavBar .dropDownMenu a:hover {
  -webkit-box-shadow: 0 0 15.2vw 4.4vw white;
          box-shadow: 0 0 15.2vw 4.4vw white;
}

@media screen and (min-width: 451px) and (max-width: 750px) {
  .NavBar .dropDownMenu a:hover {
    -webkit-box-shadow: 0 0 7.6vw 2.2vw white;
            box-shadow: 0 0 7.6vw 2.2vw white;
  }
}

@media screen and (min-width: 751px) {
  .NavBar .dropDownMenu a:hover {
    -webkit-box-shadow: 0 0 3.8vw 1.1vw white;
            box-shadow: 0 0 3.8vw 1.1vw white;
  }
}

.NavBar .dropDownMenu a span {
  display: block;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  white-space: nowrap;
}

.NavBar .icons {
  height: 100%;
}

.NavBar .icons .cart {
  display: inline-block;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.NavBar .icons .cart svg {
  height: 100%;
}

.NavBar .icons .cart svg path {
  fill: black;
}

.NavBar .icons .cart span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2px;
  color: white;
  background-color: red;
  font-weight: 900;
  font-size: 10px;
  border-radius: 2px;
}

@media screen and (min-width: 751px) and (max-width: 1000px) {
  .NavBar .icons .cart span {
    font-size: 7px;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1500px) {
  .NavBar .icons .cart span {
    font-size: 10px;
  }
}

@media screen and (min-width: 1501px) {
  .NavBar .icons .cart span {
    font-size: 0.75vw;
  }
}

.NavBar .icons .hamburger {
  display: inline-block;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.NavBar .icons .hamburger svg {
  height: 100%;
  background-color: black;
  border-radius: 50%;
}

.NavBar .icons .hamburger svg rect {
  fill: white;
  transform-box: fill-box;
}

.NavBar .icons .hamburger svg rect.a {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translate(10px, 12px);
          transform: translate(10px, 12px);
}

.NavBar .icons .hamburger svg rect.b {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-transform: translate(10px, 19px);
          transform: translate(10px, 19px);
}

.NavBar .icons .hamburger svg rect.c {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translate(10px, 26px);
          transform: translate(10px, 26px);
}

.NavBar .icons .hamburger svg rect.ax {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translate(12px, 12px) rotate(45deg);
          transform: translate(12px, 12px) rotate(45deg);
}

.NavBar .icons .hamburger svg rect.bx {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-transform: translate(10px, 19px);
          transform: translate(10px, 19px);
  opacity: 0;
}

.NavBar .icons .hamburger svg rect.cx {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translate(12px, 26px) rotate(-45deg);
          transform: translate(12px, 26px) rotate(-45deg);
}

.NavBar .linksAndUser {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  margin-left: calc(15px + 2vw);
}

@media screen and (max-width: 750px) {
  .NavBar .linksAndUser {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.NavBar .linksAndUser .links {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: none;
  gap: 1.1vw;
}

@media screen and (min-width: 751px) and (max-width: 1500px) {
  .NavBar .linksAndUser .links {
    font-size: calc(8px + 2vw);
  }
}

@media screen and (min-width: 1501px) {
  .NavBar .linksAndUser .links {
    font-size: calc(2vw);
  }
}

@media screen and (min-width: 751px) {
  .NavBar .linksAndUser .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.NavBar .linksAndUser .links div.order,
.NavBar .linksAndUser .links div.booking {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.NavBar .linksAndUser .links span.loggedIn {
  position: relative;
  white-space: nowrap;
  cursor: pointer;
}

.NavBar .linksAndUser .links span.loggedIn:hover div.order,
.NavBar .linksAndUser .links span.loggedIn:hover div.booking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 0;
  top: 45px;
}

@media screen and (min-width: 751px) {
  .NavBar .linksAndUser .links span.loggedIn:hover div.order,
  .NavBar .linksAndUser .links span.loggedIn:hover div.booking {
    top: calc(15px + 2vw);
  }
}

.NavBar .linksAndUser .links a,
.NavBar .linksAndUser .links span.loggedIn {
  text-decoration: none;
  color: black;
  font-family: "Bebas Neue", cursive;
  line-height: 1;
  background-color: gray;
  padding: 0.1em 0.25em 0 0.25em;
  border-radius: 0.25em;
}

.NavBar .linksAndUser .links a:hover, .NavBar .linksAndUser .links a.active,
.NavBar .linksAndUser .links span.loggedIn:hover,
.NavBar .linksAndUser .links span.loggedIn.active {
  color: white;
  background-color: black;
}

.NavBar .linksAndUser .userInfo {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75vw;
  width: fit-content;
  font-family: "Teko", sans-serif;
}

.NavBar .linksAndUser .userInfo img {
  height: 100%;
  width: auto;
}

.NavBar .linksAndUser .userInfo span.userName {
  font-size: 45px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  max-width: 50px;
}

@media screen and (min-width: 751px) {
  .NavBar .linksAndUser .userInfo span.userName {
    font-size: calc(15px + 2vw);
  }
}

@media screen and (min-width: 321px) and (max-width: 350px) {
  .NavBar .linksAndUser .userInfo span.userName {
    max-width: 75px;
  }
}

@media screen and (min-width: 351px) and (max-width: 370px) {
  .NavBar .linksAndUser .userInfo span.userName {
    max-width: 100px;
  }
}

@media screen and (min-width: 371px) and (max-width: 400px) {
  .NavBar .linksAndUser .userInfo span.userName {
    max-width: 130px;
  }
}

@media screen and (min-width: 401px) and (max-width: 450px) {
  .NavBar .linksAndUser .userInfo span.userName {
    max-width: 160px;
  }
}

@media screen and (min-width: 451px) and (max-width: 500px) {
  .NavBar .linksAndUser .userInfo span.userName {
    max-width: 210px;
  }
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .NavBar .linksAndUser .userInfo span.userName {
    max-width: 260px;
  }
}

@media screen and (min-width: 751px) and (max-width: 1200px) {
  .NavBar .linksAndUser .userInfo span.userName {
    max-width: 200px;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1500px) {
  .NavBar .linksAndUser .userInfo span.userName {
    max-width: 400px;
  }
}

@media screen and (min-width: 1501px) {
  .NavBar .linksAndUser .userInfo span.userName {
    max-width: 600px;
  }
}

.NavBar .linksAndUser .userInfo span.notLoggedIn {
  color: red;
  font-weight: bold;
  display: inline;
  font-size: 6vw;
  cursor: pointer;
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .NavBar .linksAndUser .userInfo span.notLoggedIn {
    font-size: 4.5vw;
  }
}

@media screen and (min-width: 751px) {
  .NavBar .linksAndUser .userInfo span.notLoggedIn {
    font-size: 1.5vw;
  }
}

.NavBar .linksAndUser .userInfo span.notLoggedIn img {
  height: 1.5em;
  width: auto;
  margin-bottom: -0.5em;
}

.NavBar .linksAndUser .userInfo .logout {
  display: inline-block;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.NavBar .linksAndUser .userInfo .logout:hover path {
  fill: red;
}

.NavBar .linksAndUser .userInfo .logout svg {
  height: 100%;
}

.NavBar .linksAndUser .userInfo .logout svg path {
  fill: black;
}
