.Order {
  padding-top: calc(80px + 3.5vw);
  padding-bottom: 80px;
}

@media screen and (min-width: 751px) {
  .Order {
    padding-top: calc(50px + 3.5vw);
  }
}

.Order .content {
  background-color: rgba(255, 255, 255, 0.5);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3vw;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 751px) {
  .Order .content {
    padding: 1.5vw;
  }
}

.Order .content .alerts p {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vw;
}

@media screen and (min-width: 751px) {
  .Order .content .alerts p {
    font-size: 2vw;
  }
}

.Order .content h1 {
  font-family: "Otomanopee One", sans-serif;
  font-size: 6vw;
}

@media screen and (min-width: 751px) {
  .Order .content h1 {
    font-size: 3vw;
  }
}

.Order .content label {
  font-family: "Teko", sans-serif;
}

.Order .content label,
.Order .content input,
.Order .content button {
  font-size: 4vw;
}

@media screen and (min-width: 751px) {
  .Order .content label,
  .Order .content input,
  .Order .content button {
    font-size: 2vw;
  }
}

.Order .content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75vw;
}

.Order .content form button {
  width: 50%;
  margin-top: 4.5vw;
  margin-bottom: 4.5vw;
}

@media screen and (min-width: 751px) {
  .Order .content form button {
    margin-top: 2.25vw;
    margin-bottom: 2.25vw;
  }
}

.Order .content form div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Order .content form div input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 0.25em;
}
