.toppings {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.toppings .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  row-gap: 100px;
  -webkit-column-gap: 2vw;
          column-gap: 2vw;
  padding: 2vw;
}

@media screen and (min-width: 751px) {
  .toppings .content {
    gap: 2vw;
  }
}

.toppings .search {
  padding-top: 20px;
  text-align: center;
}

.toppings .search input {
  min-width: 200px;
  width: 50%;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 2px solid inset;
  outline: none;
  font-size: 20px;
}

@media screen and (min-width: 451px) and (max-width: 1000px) {
  .toppings .search input {
    font-size: 4vw;
  }
}

@media screen and (min-width: 1001px) {
  .toppings .search input {
    font-size: 3vw;
  }
}
