.Confirm {
  padding-top: calc(80px + 3.5vw);
  padding-bottom: 80px;
}

@media screen and (min-width: 751px) {
  .Confirm {
    padding-top: calc(50px + 3.5vw);
  }
}

.Confirm .content {
  background-color: rgba(255, 255, 255, 0.5);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 3vw;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 751px) {
  .Confirm .content {
    padding: 1.5vw;
  }
}

.Confirm .content .alerts p {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vw;
}

@media screen and (min-width: 751px) {
  .Confirm .content .alerts p {
    font-size: 2vw;
  }
}

.Confirm .content h1 {
  font-family: "Otomanopee One", sans-serif;
  font-size: 6vw;
}

@media screen and (min-width: 751px) {
  .Confirm .content h1 {
    font-size: 3vw;
  }
}
