.BookingCardContainer {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.BookingCard {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em 2em 0 2em;
  text-align: center;
  -webkit-clip-path: polygon(20% 100%, 75% 100%, 100% 0, 0 0);
          clip-path: polygon(20% 100%, 75% 100%, 100% 0, 0 0);
  background-color: gray;
  border-radius: 50%;
  font-family: "Otomanopee One", sans-serif;
}

div.shadow {
  margin: 0 auto;
  height: 0;
  background-color: red;
  -webkit-box-shadow: -30vw 0 30vw 30vw black;
          box-shadow: -30vw 0 30vw 30vw black;
  width: 40vw;
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  div.shadow {
    -webkit-box-shadow: -15vw 0 15vw 15vw black;
            box-shadow: -15vw 0 15vw 15vw black;
    width: 20vw;
  }
}

@media screen and (min-width: 751px) {
  div.shadow {
    -webkit-box-shadow: -7.5vw 0 7.5vw 7.5vw black;
            box-shadow: -7.5vw 0 7.5vw 7.5vw black;
    width: 10vw;
  }
}
