.navigation {
  width: 100%;

  padding-top: 20px;
  padding-bottom: 20px;

  font-family: "Teko", sans-serif;

  div {
    width: 100%;
    display: flex;
    justify-content: space-around;

    &:last-of-type {
      margin-top: -15px;
      @media screen and (min-width: 501px) and (max-width: 750px) {
        margin-top: -2.5vw;
      }

      @media screen and (min-width: 751px) {
        margin-top: -1vw;
      }

      span {
        font-size: 30px;
        @media screen and (min-width: 501px) and (max-width: 750px) {
          font-size: 5vw;
        }

        @media screen and (min-width: 751px) {
          font-size: 2vw;
        }
      }
    }
  }

  input {
    width: 2ch;

    text-align: center;
    color: #767676;
    background-color: rgba($color: #fff, $alpha: 0);

    margin: 0;
    padding: 0;

    border: none;
    cursor: pointer;

    font-family: "Teko", sans-serif;

    font-size: 40px;
    @media screen and (min-width: 501px) and (max-width: 750px) {
      font-size: 8vw;
    }

    @media screen and (min-width: 751px) {
      font-size: 3vw;
    }
  }

  span {
    color: #767676;
    font-size: 40px;
    @media screen and (min-width: 501px) and (max-width: 750px) {
      font-size: 8vw;
    }

    @media screen and (min-width: 751px) {
      font-size: 3vw;
    }

    &:first-child,
    &:last-child {
      cursor: pointer;
    }

    &:nth-child(2) {
      position: relative;

      input,
      em {
        color: white;
      }

      em {
        margin-left: 0.25em;
        font-style: normal;
      }

      &:hover span {
        display: inline;
      }
      span {
        display: none;
        position: absolute;
        left: 50%;
        top: 0;
        cursor: pointer;

        &:first-of-type {
          transform: translate(-50%, -50%);
        }
        &:last-of-type {
          transform: translate(-50%, 50%);
        }
      }
    }
  }
}
