.navigation {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Teko", sans-serif;
}

.navigation div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.navigation div:first-of-type > span:first-child,
.navigation div:first-of-type > span:last-child {
  cursor: pointer;
  color: greenyellow;
}

.navigation div:last-of-type {
  margin-top: -15px;
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .navigation div:last-of-type {
    margin-top: -2.5vw;
  }
}

@media screen and (min-width: 751px) {
  .navigation div:last-of-type {
    margin-top: -1vw;
  }
}

.navigation div:last-of-type span {
  font-size: 30px;
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .navigation div:last-of-type span {
    font-size: 5vw;
  }
}

@media screen and (min-width: 751px) {
  .navigation div:last-of-type span {
    font-size: 2vw;
  }
}

.navigation input {
  width: 2ch;
  text-align: center;
  color: #767676;
  background-color: rgba(255, 255, 255, 0);
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  font-family: "Teko", sans-serif;
  font-size: 40px;
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .navigation input {
    font-size: 8vw;
  }
}

@media screen and (min-width: 751px) {
  .navigation input {
    font-size: 3vw;
  }
}

.navigation span {
  color: #767676;
  font-size: 40px;
}

@media screen and (min-width: 501px) and (max-width: 750px) {
  .navigation span {
    font-size: 8vw;
  }
}

@media screen and (min-width: 751px) {
  .navigation span {
    font-size: 3vw;
  }
}

.navigation span:nth-child(2) {
  position: relative;
}

.navigation span:nth-child(2) input,
.navigation span:nth-child(2) em {
  color: white;
}

.navigation span:nth-child(2) em {
  margin-left: 0.25em;
  font-style: normal;
}

.navigation span:nth-child(2):hover span {
  display: inline;
}

.navigation span:nth-child(2) span {
  display: none;
  position: absolute;
  left: 50%;
  top: 0;
  cursor: pointer;
}

.navigation span:nth-child(2) span:first-of-type {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navigation span:nth-child(2) span:last-of-type {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
